.app-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .react-tabs__tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .react-tabs__tab {
    padding: 10px 20px;
    background-color: lightgray;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px solid black;
  }
  
  .react-tabs__tab--selected {
    background-color: #152343;
    color: white;
  }
  
  .react-tabs__tab-panel {
    padding: 25px;
    border-top: 3px solid ;
    width: 100%;
    margin: 0 auto;
  }
  