.app-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
   
  }
  
  .react-tabs__tab-list {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
   
  }
  
  .react-tabs__tab {
    padding: 20px;
    background-color: #212A3E;
    margin-right: 10px;
    cursor: pointer;
    color:white;
    border: 3px solid #212A3E;
    border-radius: 10px;
  }
  
  .react-tabs__tab--selected {
    background-color: darkgray;
  }
  
  .react-tabs__tab-panel {
    padding: 20px;
    border: 3px solid ;
    width: 75%;
    margin: 0 auto;
  }
  